{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation de mot de passe</h1>

    <p>Veuillez saisir votre nouveau mot de passe :</p>

    {{ form_start(form) }}
    {{ form_row(form.password) }}
    {{ form_end(form) }}
{% endblock %}
