{% extends 'passwordBase.html.twig' %}

{% block title %}Réinitialisation de première connexion{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
    <button class="btn btn-primary">Réinitialisation du mot de passe</button>
{{ form_end(form)}}
{% endblock %}