<form method="post" action="{{ path('app_super_admin_links_delete', {'id': link.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce lien ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ link.id) }}">
    <button class="btn">Delete</button>
</form>
