<form method="post" action="{{ path('super_admin_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce projet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="delete-cv-btn">Supprimer</button>
</form>
