{% extends 'super_admin.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <h1>Créer un nouveau Projet</h1>

    {{ include('super_admin/project/_form.html.twig') }}

    <a href="{{ path('super_admin_project_index') }}">Retour</a>
{% endblock %}
