{% extends 'super_admin.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <h1>Create new Project</h1>

    {{ include('super_admin/project/_form.html.twig') }}

    <a href="{{ path('super_admin_project_index') }}">Retour à la liste</a>
{% endblock %}
