{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    <a href="{{ path('app_profil_edit') }}" class="btn btn-primary">Modifier mon profil</a>

    <p>Nom    : {{ person.lastName }}</p>
    <p>Prenom : {{ person.firstName }}</p>
    <p>Email  : {{ user.email }}</p>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cvModal">
        Voir mon CV
    </button>
{% endblock %}

