<form method="post" action="{{ path('super_admin_app_school_employee_delete', {'id': person.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet employé ??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
    <button class="btn">Supprimer</button>
</form>
