<form method="post" action="{{ path('super_admin_app_company_delete', {'id': company.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette adresse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button type="submit" class="delete-cv-btn">Supprimer</button>
</form>