

{% extends 'super_admin.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Créer une entreprise</h1>



    <a href="{{ path('super_admin_app_company_index') }}">Retour à la liste</a>
{% endblock %}

