{% extends 'super_admin.html.twig' %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block body %}
    <h1>Créer un compte utilisateur pour {{ person.firstName }} {{ person.lastName | upper }}</h1>
    <twig:FormModifier />
{% endblock %}
