{% extends 'super_admin.html.twig' %}

{% block title %}New Address{% endblock %}

{% block body %}
    <h1>Créer une nouvelle adresse</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('super_admin_address_index') }}">Retour à la liste</a>
{% endblock %}
