<form method="post" action="{{ path('super_admin_app_person_delete', {'id': person.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
    <button class="delete-cv-btn">Supprimer</button>
</form>
