{% extends 'super_admin.html.twig' %}

{% block title %}Modifier une personne{% endblock %}

{% block body %}
    <h1>Modifier</h1>
    <h2>{{ personne.firstName }} {{ personne.lastName | upper }}</h2>

    <twig:PersonEditForm />

{% endblock %}
