{% extends 'super_admin.html.twig' %}

{% block title %}Modifier un stagiaire{% endblock %}

{% block body %}

    <h1>Modifier</h1>
    <h2>{{ personne.firstName }} {{ personne.lastName | upper }}</h2>

    <twig:TraineeEditForm :personne="personne" />


{% endblock %}
