{% extends 'super_admin.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="content">
        <h1>Bienvenue sur TMS</h1>
        <p>Notre application est conçue pour simplifier la gestion des stagiaires <br> et des entreprises partenaires.</p>
        <p>Explorez nos fonctionnalités avancées pour gérer efficacement vos données.</p>
    </div>
{% endblock %}