<form method="post" action="{{ path('super_admin_app_school_delete', {'id': school.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette école ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ school.id) }}">
    <button class="delete-cv-btn">Supprimer</button>
</form>
