{% extends 'super_admin.html.twig' %}

{% block title %}Création d'une école{% endblock %}

{% block body %}
    <h1>Créer une école</h1>

    <twig:SchoolForm />

{#    <a href="{{ path('super_admin_address_new') }}" class="btn-custom">Ajouter une adresse</a>#}
{% endblock %}
