<h1>Bonjour !</h1>

<p>Voici vos identifiants pour TMS : </p>

<p>Votre email de connexion :  {{ user.email }} </p>

<p>Votre mot de passe de connexion : {{ password }}</p>

<a href="{{ url('app_login') }}">Cliquez ici pour vous connecter</a>
