{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1>Créer une nouvelle compagnie</h1>

    {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_company_index') }}">Retour à la liste</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
