<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon"
          href="https://msconsulting-europe.com/wp-content/uploads/2024/05/cropped-logo-square.jpg">
    {% block stylesheets %}
    {% endblock %}


    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
<header>
    {% include "navfoot/nav.html.twig" %}
</header>
<main class="">
    {% block body %}{% endblock %}
</main>
<footer>
    {% include "navfoot/footer.html.twig" %}
</footer>
</body>

</html>