{% extends 'base.html.twig' %}

{% block title %}Panel Super Admin{% endblock %}

{% block body %}
    <header>
        {% include "components/navbar.html.twig" %}
    </header>

    <section>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" style="color: green">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" style="color: red">
                {{ message }}
            </div>
        {% endfor %}
    </section>

    <main class="container">
        <div class="super-admin-panel">
            <h1>Panel Super Admin</h1>
        </div>
    </main>
{% endblock %}