.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table th {
    font-family: "Apple SD Gothic Neo";
    font-size: larger;
    background-color: dodgerblue;
    color: white;
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;

}

.table td {
    background-color: #333333;
    color: whitesmoke;
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.table td a {
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
}

.table td a:hover {
    color: gold;
    text-decoration: underline;
}