.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: whitesmoke !important;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: dimgrey;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.btn-primary:hover {
    background-color: goldenrod;
}

.form-group label {
    color: whitesmoke;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    table-layout: auto;
}

.table th {
    font-family: "Apple SD Gothic Neo";
    font-size: larger;
    background: dimgrey;
    color: whitesmoke;
    padding: 12px;
    text-align: center;
    border: 2px solid grey;
    width: auto;
}

.table td {
    background-color: #333333;
    color: whitesmoke;
    padding: 12px;
    text-align: left;
    border: 2px solid dimgrey;
}

.table td a {
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
}

.table td a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.table tr:hover td {
    color: whitesmoke;
    background-color: #3e3e3e;
    transition: color 0.5s, background-color 0.5s;
}

.table td {
    background-color: #333333;
    color: whitesmoke;
    padding: 12px;
    text-align: left;
    border: 2px solid dimgrey;
}

.table td a {
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
}

.table.table-show {
    max-width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    table-layout: auto;
    border: 2px solid dimgrey;

}

.table.table-show th, .table.table-show td {
    padding: 12px;
    border: 2px solid grey;
}

.table.table-show th {
    font-family: "Apple SD Gothic Neo";
    font-size: larger;
    background: dimgrey;
    color: whitesmoke;
    text-align: center;
    width: auto;
    border: 2px solid grey;
}

.table.table-show td {
    background-color: #333333;
    color: whitesmoke;
    text-align: left;
    border: 2px solid grey ;
}



input, select, textarea {
    color: black !important;
}

.btn-primary {
    background-color: dimgrey;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.btn-primary:hover {
    background-color: goldenrod;
}

.back-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: dimgrey;
    color: white;
    border: none;
    text-decoration: none;
}

.back-btn:hover {
    background-color: goldenrod;
    color: white;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}


