input {
  border: 1px solid #ccc;
}
label.required:after {
  content: " *";
  color: red;
}

body {
  background-image: url('https://img.freepik.com/vecteurs-libre/conception-fond-abstrait-blanc_23-2148825582.jpg?t=st=1720175940~exp=1720179540~hmac=ed6bbc4247968b9311e6b9177f21515c56f27e675a4af2172d15c94e723716a1&w=1380');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background: linear-gradient(135deg, black, dimgrey, whitesmoke); */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /*border-radius: 10px; */
  /*box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

.content {
  color: whitesmoke;
  background-color: rgba(51, 51, 51, 0.5);
  /*background-color: #333; */
  font-size: larger;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.navbar-menu {
  font-family: 'Made GENDLED', sans-serif;
  font-size: 20px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  padding: 3px;
  position: relative; /* Nécessaire pour gérer le dégradé */
  overflow: hidden; /* Empêche le dégradé de déborder du texte */
}

.navbar-menu li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, blue, yellow);
  background-size: 200% 200%;
  background-position: 100% 100%;
  z-index: -1; /* Pour placer sous le texte */
  transition: background-position 0.3s;
}

.navbar-menu li a:hover::before {
  background-position: 0% 0%;
}

.navbar-menu li a:hover {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Assure que le texte reste invisible */
}