.navbar-menu {
    font-family: 'Made GENDLED', sans-serif;
    font-size: 20px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.navbar-menu {
    font-family: 'Made GENDLED', sans-serif;
    font-size: 20px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 3px;
    transition: color 0.2s;
}

.navbar-menu li a:hover {
    color: goldenrod;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 10px 0;
    }
}