
.dropdown-toggle .fa-caret-down,
.dropdown-toggle .fa-caret-right {
    transition: transform 0.3s ease;
}

.dropdown:hover > .dropdown-toggle .fa-caret-down {
    transform: rotate(180deg);
}

.sub-menu .dropdown:hover > .dropdown-toggle .fa-caret-right {
    transform: rotate(90deg);
}

.navbar {
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar-menu {
    font-family: 'Made GENDLED', sans-serif;
    font-size: 20px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.navbar-menu li {
    position: relative;
    margin-left: 20px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.2s, background-color 0.2s;
}

.navbar-menu li a:hover {
    color: goldenrod;
    border-radius: 20px;
}


.sub-menu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    list-style: none;
    top: 100%;
    left: 0;
    z-index: 1;
    min-width: 200px;
    border-radius: 5px;
}

.dropdown:hover > .sub-menu {
    display: block;
}


.sub-menu li {
    margin-bottom: 5px;
}

.sub-menu li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
    transition: color 0.2s, background-color 0.2s;
}

.sub-menu li a:hover {
    color: goldenrod;
    background-color: #555;
    border-radius: 3px;
}

.navbar-menu li i {
    margin-right: 5px;
}

.navbar-menu .dropdown .sub-menu .sub-menu {
    left: 178px;
    top: 0;
}


@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu li {
        margin: 10px 0;
    }

    .navbar-menu li a {
        padding: 10px;
    }

    .dropdown:hover > .sub-menu {
        display: block;
        position: static;
        width: 100%;
    }
}