<form method="post" action="{{ path('super_admin_app_person_delete', {'id': personne.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet employé ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personne.id) }}">
    <button class="delete-cv-btn">Supprimer</button>
</form>
